*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,html{
  height: 100%;
 
  
}

.col-1-5 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.contentfullheight{
  height: 100vh;
  background-color: #eeecec;
  
}

.sidenav{
  
  background-color: red;
}
