*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,html{
  height: 100%;
 
  overflow: hidden; /* Prevent scrolling */
}

.col-1-5 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.contentfullheight{
  height: 100vh;
  overflow: hidden;
}
.contentfullheight .col-1-5{
  background-color: #24314C;
}
.contentfullheight {
  background-color: #F8F8F8;
}